.ProfilePhoto{
  display: flex;
  width: 100%;
  min-height: 387px;
  background-image: url('../../assets/images/main-photo.jpg');
  background-size: cover;
}

@media  (max-width: 375px) {
  .ProfilePhoto{
    display: flex;
    width: 100%;
    height: 478px;
    background-image: url('../../assets/images/main-photo.jpg');
    background-size: cover;
  }
}