.project {
  display: flex;
  flex-direction: column;
}

.project__name {
  margin-top: 44px;
  font-size: 18px;
  font-weight: 500;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
}