.Project{
  margin-bottom: 99px;
}

.Project img{
  width: auto; 
  height: 522px; 
  display: block; 
  margin: 0 auto;
  margin-bottom: 44px;
}

@media (max-width: 939px) {
  .Project{
    margin-bottom: 77px;
  }

  .Project img{
    margin-bottom: 33px;
    width: auto; 
    height: 171px; 
    display: block; 
    margin: 0 auto;
  }
}