*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: 'Gilroy', sans-serif;
  font-weight: bold;
}

.button-menu {
  background-color: rgba(0,0,0,0%);
  border: none;
  background-image: url(../../assets/icons/icon-menu.svg);
  width: 33px;
  height: 19px;
  background-position: center;
  background-size: cover;
  cursor: pointer;
  position: fixed;
  top: 68px;
  right: 30px;
  display: none;
}

.button-menu:hover {
  opacity: .5;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-Bold.eot');
  src: local('Gilroy Bold'), 
    url('../../assets/fonts/Gilroy-Bold.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Gilroy-Bold.woff') format('woff'),
    url('../../assets/fonts/Gilroy-Bold.ttf') format('truetype');
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: 'Gilroy';
  src: url('../../assets/fonts/Gilroy-Medium.eot');
  src: local('Gilroy Medium'), 
    url('../../assets/fonts/Gilroy-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../assets/fonts/Gilroy-Medium.woff') format('woff'),
    url('../../assets/fonts/Gilroy-Medium.ttf') format('truetype');
  font-style: normal;
  font-weight: 500;
}

@media screen and (max-width: 941px) {
  .button-menu {
    display: inherit;
  }
}