.ProfileDescription{
  margin: 95px 0 30px 297px;
  width: 155px;
  float: left;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  clear: right;
}

@media  (max-width: 939px) {
  .ProfileDescription{
    margin: 32px 0 36px 0;
    width: 155px;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    float: none;
  }
}