.SkillItemIcon {
  width: 89px;
  height: 89px;
  background-size: cover;
}

@media (max-width: 939px){
  .SkillItemIcon {
    width: 89px;
    height: 89px;
    background-size: cover;
    float: none;
  }
}